.header-bg {
  background: url('img/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.mobile {
  width: 100%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  transition: transform 100ms ease;
}

.active-slide img {
  transform: scale(1.5);
}